

.inner-banner {
    background-image: url(../images/banner-new.jpg);
    background-size: cover;
    padding: 80px 50px;
    position: relative;
    width: 100%;

}

.inner-banner h1 {
    font-weight: 600;
    font-size: 38px;
}

.inner-banner::before {
    background: #020203;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group a:hover {
    color: blue !important;

}

.blog-card-image {
    background-image: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.blogpage-card {
    min-height: 130px;
    max-height: 130px;
}


.list-group a {
    border: none;
    border-bottom: 1px solid #eee;
}

.list-group a:hover {
    background: orangered;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    .blog-container {
        max-width: 100%!important;
        min-width: 100%;
    }
}