.inner-banner {
    background-image: url(../images/banner-new.jpg);
    background-size: cover;
    padding: 80px 50px;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .inner-banner {
        padding: 20px;
    }
}

.inner-banner h1 {
    font-weight: 600;
    font-size: 38px;
}

.inner-banner::before {
    background: #020203;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}

.list-group a:hover {
    color: blue !important;

}

.cards {
    background-image: url(../images/back-10.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 48px 20px 15px 20px;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.list-group a:hover {
    color: #fff !important;
}