/*
        #mycanvas {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
*/


        hr {
            border-top: 2px solid black !important;
        }

        a:hover {
            color: orangered
        }

        /*

        .contact-us-banner {
            background-image: url(../images/banner2.png);
            background-repeat: no-repeat;
            background-position: center;
        }
*/

        .cards {
            /*     background:#a0e0ff54;*/
            /*    background: #fff;*/
            background-image: url(../images/back-7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            padding: 48px 20px 15px 20px;
            display: inline-block;
            width: 100%;
            position: relative;
            text-align: center;
            border-radius: 5px;
        }

        .title {
            font-size: 54px;
            font-weight: bold;
            font-family: 'Oxanium', cursive;
        }

        .font-box {
            width: 80px;
            min-width: 80px;
            height: 80px;
            background: #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            border: 5px solid #a0e0ff54 !important;
            padding: 2px;
        }

        .font-box img {
            width: 100%;
            border-radius: 50%;
        }

        .contact-card .font-box {
            position: absolute;
            left: 0;
            right: 0;
            top: -40px;
            margin: 0 auto;
            background: #ffffff;
        }

        .contact-card .title {
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }

        .contact-card span {
            display: inline-block;
            width: 100%;
            font-size: 16px;
        }

        .contact-card .tilt {
            font-style: italic;
            margin-top: 2px;
            font-size: 16px;
        }


        .contact-card span.big_title {
            font-size: 22px;
            font-weight: bold;

            padding-bottom: 5px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        .address_contact .right_bx .contact-card input {
            box-shadow: none;
            border-color: #f4f4f4;
            font-size: 16px;
            color: #777777;
            height: 50px;
        }

        .address_contact .right_bx .contact-card span.sub {
            margin: 16px 0;
        }

        .form-group {
            margin-bottom: 0;
        }

    



        @media (min-width: 1200px) .container {
            width: 1170px;
        }

        @media (min-width: 992px) .container {
            width: 970px;
        }

        @media (min-width: 768px) .container {
            width: 750px;
        }





        .fa-icon:hover {
            background: #ffffff;
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            color: #fff;
        }