/*COURSE PAGE COMPLETE CSS STARTS FROM HERE*/
.course-content{
    margin-top: 50px;
}
.btn-white{
    color: #0c5397!important;
}
.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 49%;
    top: 49%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 15px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/*COURSE PAGE STICKY NAVBAR*/
.course-sticky-bar .nav-item a {
    padding: .5em 3.0em !important;
    font-weight: 500;
}

.table-bordered td,
.table-bordered th {
    vertical-align: middle !important;
}


/*COURSE PAGE ENROLL BANNER*/
.price-cut {
    border-bottom: 2px solid #ff0707;
    min-width: 100px;
    position: absolute;
    top: 65px;
    right: 92px
}

.request-batch-icon {
    background-image: url(../images/calender.jpg);
    background-repeat: no-repeat;
    min-height: 250px;
    background-size: contain;
    background-position: right;
}




/*CONATCT NUMBER*/
.no-arrow {
    -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
    display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*COURSE CERTIFICATE*/
.course-certificate-banner .modal.show .modal-dialog {
    min-width: 60%;
}

/*TESTIMONIAL REVIEWS*/
.testimonial-reviews .carousel-control-prev,
.video-blog .carousel-control-prev {
    left: -50px;
}

.testimonial-reviews .carousel-control-next,
.video-blog .carousel-control-next {
    right: -50px;
}

/*REVIEW VIDEOS*/
.video-blog .video-play-button {
    top: 30%;
}

/*COURSE FEATURES*/
.course-features .card {
    transition: all .5s ease 0s;
    background-image: url(../images/back-8.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.course-features .card:hover {
    transition: all .5s ease 0s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.0);
    transform: scale(1.1);
}



/*FOR THE MOBILE DEVICES*/
@media only screen and (max-width: 600px) {
    .price-cut {
        top: 67px !important;
        right: 69px !important;
    }

    .curriculum-enroll {
        bottom: 0 !important;
        position: absolute;
    }

    .offer-text {
        position: absolute;
        right: 60px;
        top: 45px;
    }
    .course-content{
        margin-top: 75px;
    }

    .accordion .card-title {
        font-size: 15px !important;
    }

    .testimonial-reviews .carousel-control-next,
    .video-blog .carousel-control-next {
        right: -10px !important
    }

    .testimonial-reviews .carousel-control-prev,
    .video-blog .carousel-control-prev {
        left: -10px !important
    }

    .course-features .card:hover {
        transform: none !important;
    }

    }


/*FOR THE IPAD DEVICES*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/*COURSE PAGE CSS*/
    .video-play-button {
        top: 23% !important;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 12px!important;
    }
    .price-cut {
    border-bottom: 2px solid #ff0707;
    min-width: 80px;
    position: absolute;
    top: 61px;
    right: 11px;
}

}