 .position {
     cursor: pointer;
     float: right;
     font-size: 14px;
     text-align: center;
     text-transform: uppercase;
     transform: rotate(-90deg);
     top: 50%;
     position: fixed;
     right: -3.2%;
     z-index: 1;
 }
.position .turned-button{
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 17px;
}
.position .turned-button:active,.position .turned-button:focus{
    box-shadow: none!important
}

 .dropup {
     position: fixed;
     top: 629px;
     left: 1199px;

 }

 .size {
     width: 300px;
 }

 .width_size {
     width: 250px;
 }

 .color_size {
     font-size: 45px;
     color: blue;


 }

 .dropdown-header {
     font-size: 25px;
 }