.inner-banner {
    background-image: url(../images/banner-new.jpg);
    background-size: cover;
    padding:30px 50px;
    position: relative;
    width: 100%;

}

.inner-banner h1 {
    font-weight: 600;
    font-size: 38px;
}

.no-style {
    list-style: none;
}

.inner-banner::before {
    background: #020203;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .7;
    position: absolute;
    right: 0;
    top: 0;
}

.content p {

    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 30px;
}

.student{
    transition: all .1s ease-in 0s; 
}

.student:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
    box-shadow: 0 0 15px 1px rgba(0, 1, 0, 0.15) !important;
     transition: all .1s ease-in 0s; 
}